html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
  color: #c3c2c2;
  margin: 40px 0;
  font-size: 0.95em;
}

.order-by {
  display: flex;
  justify-content: center;

  span {
    cursor: pointer;
    color: orange;
  }

  .ascending:after {
    content: ' \2191';
    font-size: 20px;
  }

  .descending:after {
    content: ' \2193';
    font-size: 20px;
  }
}

.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.tile {
  max-width: 300px;
  width: 300px;
  background: #302e2e;
  margin: 10px;
  border-radius: 10px;

  .title-container {
    position: relative;
    background-color: #000000c2;
    padding: 10px 10px;
    cursor: pointer;

    h1 {
      font-weight: 400;
      margin: 0;

      &:hover {
        color: orange;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: -86px;
  }

  .tile-info {
    width: 85%;
    margin: 35px auto;

    p {
      display: flex;
      justify-content: space-between;
    }

    hr {
      border-top: 0px;
      border-color: #c3c2c2;
    }

    span {
      color: orange;
      text-align: right;
      cursor: pointer;
    }
  }
}

.keywords {
  margin: 20px auto;
  background: #302e2e;
  border-radius: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  .filters {
    div {
      display: inline-flex;
      align-items: center;
      margin: 5px 10px 0 0;
      border-radius: 10px;
      padding: 0 10px;
      background-color: #1c1c1c;
      height: 45px;

      span {
        position: relative;
        cursor: pointer;
        left: 10px;
        background: orange;
        border-radius: 10px;
        font-size: 16px;
        padding: 12px 8px;
        color: black;

        &:hover {
          background: black;
          color: orange;
        }
      }

      h4 {
        cursor: unset;
      }
    }
  }
  h5 {
    font-size: 1em;
    cursor: pointer;

    &:hover {
      color: orange;
    }
  }
}
