html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
  color: #c3c2c2;
  margin: 40px 0;
  font-size: 0.95em;
}

.order-by {
  display: flex;
  justify-content: center;

  span {
    cursor: pointer;
    color: orange;
  }

  .ascending:after {
    content: ' \2191';
    font-size: 20px;
  }

  .descending:after {
    content: ' \2193';
    font-size: 20px;
  }
}

.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.tile {
  max-width: 300px;
  width: 300px;
  background: #302e2e;
  margin: 10px;
  border-radius: 10px;

  .title-container {
    position: relative;
    background-color: #000000c2;
    padding: 10px 10px;
    cursor: pointer;

    h1 {
      font-weight: 400;
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  img {
    border-radius: 10px;
    margin-bottom: -86px;
  }

  .tile-info {
    width: 85%;
    margin: 35px auto;

    p {
      display: flex;
      justify-content: space-between;
    }

    hr {
      border-top: 0px;
      border-color: #c3c2c2;
    }

    span {
      color: orange;
      text-align: right;
      cursor: pointer;
    }
  }
}

.keywords {
  margin: 0 auto;
  background: black;
  border-radius: 10px;
  width: 85%;

  .filters {
    margin: 0 0 0 20px;

    div {
      display: inline-flex;
      padding: 5px 7px;

      span {
        margin: 20px 0 0 10px;
        cursor: pointer;
      }

      h4 {
        cursor: unset;
      }
    }
  }
  h5 {
    position: absolute;
    right: 100px;
    top: 125px;
    font-size: 1em;
    cursor: pointer;
  }
}
